<div class="h-100 dark-theme-text-color">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <h1 class="flex-title">
    {{title}}
  </h1>
  <div class="search-container">
    <button *ngIf="!showSearchBar" (click)="toggleSearchBar()"><i class="fa fa-search"></i></button> 
    <button *ngIf="showSearchBar" (click)="toggleSearchBar()"><i class="fa fa-close"></i></button> 
    <input *ngIf="showSearchBar" class="ml-6" [formControl]="searchValue" type="text" placeholder="Search.." name="search">
  </div>

  <table>
    <tr class="header">
      <th>Name</th>
      <th>City</th>
      <th>Status</th>
    </tr>
    <progress-bar *ngIf="loading"></progress-bar>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.city}}</td>
      <td>{{user.status? 'Active': 'InActive'}}</td>
    </tr>
  </table>
</div>